.main-scroll::-webkit-scrollbar {
  width: 5px;
}

.main-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(245, 132, 3, 0.3);
}

.main-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(228, 11, 11);
  border: none;
  border-radius: 50px;
}